@{
    ViewData["Title"] = "Index Page";
}

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="home">Home</a></li>
                <li class="breadcrumb-item active">Dashbord</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
<div class="text-info text-center">
    <h1 class="display-4"><b>Welcome</b></h1>
</div> 
