@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    @* <h1 class="display-4"><b>Welcome 1</b></h1> *@
    <p>Use this page to detail your site's privacy policy.</p>
</div>

